abagen==0.1.3
annexremote==1.2.1
antropy==0.1.6
bctpy==0.6.1
binaryornot==0.4.4
boto==2.49.0
cca-zoo==2.3.11
certifi==2023.7.22
clustergrammer==1.13.6
cognitiveatlas==0.1.9
colorspacious==1.1.2
docopt==0.6.2
fsspec==2023.10.0
fuzzywuzzy==0.18.0
gower==0.1.2
ipython-genutils==0.2.0
jsonpickle==3.0.2
lightning==2.1.0
lightning-utilities==0.9.0
littleutils==0.2.2
llvmlite==0.41.1
lxml==4.9.3
matplotlib==3.3.4
munkres==1.1.4
mvlearn==0.5.0
network-control==0.0.5
NiMARE==0.1.1
nisupply==2023.3.10
pandas==2.1.2
pandas-flavor==0.2.0
ply==3.11
pyct==0.4.6
PyMARE==0.0.4rc2
PyQt5==5.15.9
PyQtWebEngine==5.15.4
pytorch-lightning==2.1.0
pyvis==0.3.2
pywin32==306
simplegeneric==0.8.1
sparse==0.14.0
stochastic==0.7.0
sympy==1.12
tables==3.9.1
tensorly==0.8.1
torch==2.1.0
torchmetrics==1.2.0
vtk==9.2.6
